{% extends "base.html" %}

{% block content %}
    <h1>Customer List</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Preferred Name</th>
                <th>Email</th>
                <th>Zip Code</th>
                <th>Birth Date</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.full_name }}</td>
                <td>{{ customer.preferred_name }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.zip_code }}</td>
                <td>{{ customer.birth_date.strftime('%Y-%m-%d') }}</td>
                <td><a href="{{ url_for('main.customer_detail', customer_id=customer.id) }}">View</a></td>
            </tr>
            {% else %}
            <tr>
                <td colspan="7">No customers found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
